#header {
	z-index: 1;
	position: absolute;
	width: 1024px;
	height: 60px;
	background-color: red;
}

#headerCaption {
	float:left;
	margin-top: 1px;
	margin-left: 8px;
	font-size: 28px;
	font-family: Verdana, sans-serif;
	color: white;
}

#headerLink {
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: white;
	text-decoration: none; 
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	background-color:black;
	color: white;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position:absolute;
	float: left;
	margin-top: 70px;
	width: 280px;
	height: 470px;
	margin-bottom: 10px;
	background-color:black;
}

#leftPicture {
    position:absolute;
    margin-top:50px;
    margin-left:25px;
}

.right {
	position: absolute;
	float: right;
	margin-top: 50px;
	margin-left:291px;
	width: 500px;
	height: 370px;
	color: black;
	margin-bottom: 10px;
}

.leftPicture {
    float:left;
}

#doctorsList {
    float:left;
    text-align:left;
}

#doctorsCopanions {
    float:left;
    clear:both;
}

#companionsImg {
    margin-left:30px;
    border: 3px solid blue;
    height:80px;
    width:120px;
}

#rightText {
    position:absolute;
	margin-top: 20px;
    margin-left:280px;
    background-color:black;
    width:450px;
    height:470px;
    font-size:20px;
    text-align:center;
    padding:1px;
}

#footer {
	position: absolute;
	height: 50px;
	width:1024px;
	margin-top:550px;
	background-color: red;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 5px;
}